* {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

#color-selector {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 120px;
    background: black;
}

.marker {
    width: 50%;
    height: 100%;
    float: left;
}

.marker.selected {
    border: 2px solid white;
}

#sphere {
    position: absolute; 
    width: 25px;
    height: 25px;
    border-radius: 25px;
    -webkit-radius: 25px;
    background-color: black;
}