@font-face {
    font-family: 'Aroly';
    src: url('/fonts/Aroly-Font/Font/AROLY.ttf');
}

@font-face {
    font-family: 'Besom';
    src: url('/fonts/Besom-free-font.ttf');
}

.background{
	margin: auto;
	width: 100%;
}

.menu-box{
	background-color: rgba(255, 251, 231, 0.6);
	width: 25%;
	padding-bottom: 15px;
	clear: both;
}


h3.title{
	text-align: center;
	font-family: Besom;
	font-size: 150px;
	color: black;
	/*color: #3399FF;*/
	/*color: #FF0066;*/
	text-transform: uppercase;
	letter-spacing: 3px;
	padding-bottom: 0px;
    text-shadow:
    -1px -1px 0 #A9A9A9,
    1px -1px 0 #A9A9A9,
    -1px 1px 0 #A9A9A9,
    1px 1px 0 #A9A9A9;
}

h2.menu{
	font-family: Besom;
    color: black;
    font-size: 100px;
    text-align: center;
}

body{
	padding: 25px 50px;
	background-image: url("/pictionary/Abstract-Paint-Brush.jpg");
	/*background-image: url("/home/paint-splatter.jpg");*/
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

li{
	text-align: center;
	list-style: none;
	text-decoration: none;
	cursor: pointer;
	color: black;
	font-weight: bold;
	font-size: 20px;
	letter-spacing: 2px;
	padding-bottom: 10px;
}
li a{
	color: black;
	font-weight: bold;
	font-size: 20px;
	letter-spacing: 2px;
}
a{
	color: black;
	font-weight: bold;
	font-size: 20px;
	letter-spacing: 2px;
}

li:hover{
	text-decoration: none;
	color: #FF0066;
}

li a:hover{
	text-decoration: none;
	color: #FF0066;
}

.description{
	font-family: 'proxima-nova','Helvetica Neue', Helvetica,Arial,sans-serif;
	width: 30%;
	padding-top: 200px;
	padding-left: 50px;
    float: left;
    color: black;
    font-size: 20px;
    letter-spacing: 2px;
    font-weight: bold;
    text-align: center;
}

.subtitle{
	letter-spacing: 1px;
	font-family: Besom;
    color: black;
    font-size: 40px;
    margin: 0px;
    font-weight: bold;
    text-align: center;
}

.hide{
	display: none;
}

.pictionary > .subtitle{
	padding-top: 0px;
}