@font-face {
    font-family: 'Besom';
    src: url('/fonts/Besom-free-font.ttf');
}

.picture {
    width: 25%;
    height: 100%;
    float: left;
    text-align: center;
    background: white;
}

#pictures {
    position: float;
    top: 0;
    right: 0;
    width: 100%;
    height: 80px;
    background: white;
}

.text {
	padding-top:8%;
	color: white;
	text-shadow: #000 0px 0px 1px, #000 0px 0px 1px, #000 0px 0px 1px, #000 0px 0px 1px, #000 0px 0px 1px, #000 0px 0px 1px;
	text-transform: uppercase;
}

.allInfoHide {
	display:none;
}

.clock {
	float:right;
	font-size:30px;
    font-family: Besom;
    color: #FF0066;
}

.solution {
    font-family: Besom;
    color: #3399FF;
	font-size:30px;
}

.animals {
	display:none;
}

.shapes {
	display:none;
}

.fullstack {
	display:none;
}

.transportation {
	display:none;
}

.food {
	display:none;
}

.objects {
	display:none;
}

.tv {
	display:none;
}

.sports {
	display:none;
}

#categories {
    position: float;
    top: 0;
    right: 0;
    width: 100%;
    height: 80px;
    background: white;
}

.category {
    width: 25%;
    height: 100%;
    float: left;
    text-align: center;
    background: white;
}
